<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223248819045-242rmrvs5rjdhemimgik5ef39n2f40s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223248819045-242rmrvs5rjdhemimgik5ef39n2f40s1</string>
	<key>API_KEY</key>
	<string>AIzaSyC0-AmPF4A4B44iGL2SnrQu5QuAsR6macY</string>
	<key>GCM_SENDER_ID</key>
	<string>223248819045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.songsApp</string>
	<key>PROJECT_ID</key>
	<string>songs-app-ce882</string>
	<key>STORAGE_BUCKET</key>
	<string>songs-app-ce882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223248819045:ios:8421894de195eb1205778c</string>
	<key>DATABASE_URL</key>
	<string>https://songs-app-ce882-default-rtdb.firebaseio.com</string>
</dict>
</plist>